html, body {
  color: rgb(32, 32, 32);
  font-family: 'Crimson Text', serif;
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: #ffffff;
  padding: 0 10px;
  box-sizing: border-box;
}

.name {
  margin-bottom: 2px;
}

/* PARAGRAPH TEXT SIZE */
div.p1 {
  font-size: 17px;
  line-height: 1.5;
}

div.p2 {
  font-size: 15px;
  line-height: 1.5;
}

/* HEADER STYLING */
.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the header links */
.header a {
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 5px;
  font-size: 19px; 
  line-height: 10px;
  border-radius: 8px;
  font-weight: normal;
}

/* Float the link section to the right */
.header-right {
  display: flex;
}

/* heading styling */
h1 {
  color: #cc0000;
  font-size: 35px;
  font-weight: normal;
  line-height: 40px;
}

h2 {
  color: #000000;
  font-size: 28px;
  font-weight: normal;
  line-height: 35px;
}

h3 {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}

h4 {
  color: #cc0000;
  line-height: 15px;
}

/* LINK DECORATION */
a:link, a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: #cc0000;
  text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
}

/* Media Queries for responsiveness */
@media screen and (max-width: 500px) {
  body {
      padding: 0 5px;
  }
  
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .header a {
      display: block;
      text-align: left;
      font-size: 16px;
  }

  .header-right {
      width: 100%;
      justify-content: flex-start;
  }
  
  h1 {
      font-size: 28px;
      line-height: 35px;
  }
  
  h2 {
      font-size: 24px;
      line-height: 30px;
  }

  h3 {
      font-size: 18px;
      line-height: 22px;
  }
}
