html, body {
    /* display: flex;
    align-items: left;
    justify-content: left;
    height: 100%;
    margin: 0px;
    padding: 0px; */
    color: rgb(32, 32, 32);
    font-family: 'Libre Franklin', sans-serif;
    width: 850px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 100px;
    /* background: linear-gradient(to bottom, rgba(300, 300, 300, 1) 90%, rgb(204, 81, 10) 100%); */
  } 
  .name {
    margin-bottom: 2px;
  }  

  /* PARAGRAPH TEXT SIZE */
  div.p1 {
    font-size: 14px;
    line-height: 1.5;
  }

  div.p2 {
    font-size: 13px;
    line-height: 1.5;
  }

/* _______________________________________________________________________________________________  
/* HEADER STYLING */
/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 0px 0px;
  }
  
  /* Style the header links */
  .header a {
    float: center;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 3px;
    text-decoration: none;
    font-size: 16px; 
    line-height: 20px;
    border-radius: 4px;
    font-weight: normal;
  }
  
  /* Change the background color on mouse-over */
  /* .header a:hover {
    background-color: rgba(214, 214, 214, 0.719);
    color: black;
  } */
  
  /* Style the active/current link*/
  .header a.active {
    background-color:rgb(32, 32, 32);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: left;
  }

/* _________________________________________________________________________________________________  
/* LINK DECORATION */
/* unvisited link */
a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgba(23, 108, 134, 0.61);
}

/* mouse over link */
a:hover {
  color: rgb(45, 189, 233);
}

/* selected link */
a:active {
  color: rgb(0, 0, 0);
}
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  /* _______________________________________________________________________________________________  
  /* heading styling  */
  h2 {
    color: rgb(32, 32, 32);
    font-size: 35px;
    font-weight: normal;
    line-height: 10px;
  }
  h3 {
    color: rgb(0, 0, 0);
  }
  h4 {
    color: rgb(0, 0, 0);
    line-height: 5px;
  }

  /* styles for mobile devices */
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .box {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}